* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
    font-size: 40px;
  font-weight: bold;
    color: #000000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* White text */
    background-color: #76491b; /* Brown background */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Size of the text */
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #4f1f02; /* Darker brown on hover/focus */
}

/* Contact Us page specific styles */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 10%;
}

.contact-us {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.contact-us h2 {
    font-size: 60px;
    color: #000000;
    margin-bottom: 20px;
}

.contact-us p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    background-color: #76491b;
    color: #fff;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: #4f1f02;
}

footer {
    width: 100%;
    background-color: #f7f7f7;
    padding: 20px 10%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-container p {
    margin: 0;
    color: #333;
}

.footer-links a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
}

.footer-links a:hover {
    text-decoration: underline;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
